.taskList {
  margin: 50px auto;
  list-style: none;
  width: 100%;
  padding: 0 20px;
}

.list-header {
  display: flex;
  justify-content: space-between;
  @media screen and (max-width: 768px) {
    flex-direction: column;
  }
}

.list-menu {
  text-align: right;
  @media screen and (max-width: 768px) {
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
  }
  @media screen and (max-width: 320px) {
    text-align: left;
    flex-direction: column;
  }
}

.list-tab {
  list-style: none;
  display: flex;
  overflow-x: auto;
  @media screen and (max-width: 320px) {
    flex-direction: column;
  }
}

.list-tab-item {
  flex-shrink: 0;
  width: 100px;
  padding: 0 25px;
  text-overflow: normal;
  margin-right: 5px;
  border: solid 1px #242f9b;
  justify-content: center;
  align-items: center;
  @media screen and (max-width: 320px) {
    width: 100%;
    margin: 0;
  }
}

.active {
  background-color: #242f9b;
  color: #ffffff;
}

.tasks {
  margin-top: 25px;
}

.tasks-header {
  display: flex;
  justify-content: space-between;
  @media screen and (max-width: 768px) {
    flex-direction: column;
    > a {
      margin-top: 20px;
    }
  }
}

.task-item {
  list-style-type: none;
  width: calc(100% - 25px);
  background-color: #f5f5f5;
  padding: 10px 25px;
  font-size: large;
  border: solid 1px #ffffff;
  :hover {
    opacity: 0.7;
  }
}

.task-item-link {
  display: block;
  width: 100%;
  height: 100%;
  text-decoration: none;
  color: #000000;
}

.error-message {
  color: #ff3333;
}

.display-select-wrapper {
  width: 100px;
  margin: 0 0 25px auto;
  @media screen and (max-width: 768px) {
    margin-top: -25px;
  }
  @media screen and (max-width: 320px) {
    margin: 0;
  }
}

.display-select {
  width: 100%;
}
